
        <h1> codeial/ Profile  </h1>
        <p> <%= user.name%></p>
        <p> <%= user.email%></p>

        <form action="/users/session-out" method="Post">
                <!-- <input type="email" name="email" placeholder="xyz@gmail.com" required>
                <input type="password" name="password" placeholder="Your Password" required> -->
                <input type="submit" value="Sign Out">
            
            </form>

