#home-container{
    display: flex;

    #feed-post{
        width: 70%;
        padding: 10px;

    }

    #user-friends{
        padding: 10px;
        width:30%;
        border-left: 1px solid grey;
        height: 100vh;
      
    }
}