#home-container {
  display: flex; }
  #home-container #feed-post {
    width: 70%;
    padding: 10px; }
  #home-container #user-friends {
    padding: 10px;
    width: 30%;
    border-left: 1px solid grey;
    height: 100vh; }
